In [8]:
# noinspection PyUnresolvedReferences
from ipynb.fs.full.preparation import expanded_df, expanded_df2

In [9]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import normalize

## Classification

We drop columns that are not numeric (and in our case, present in the dataset in other forms)

In [10]:
cols_to_drop = ['formula', 'trace', 'strategy']

In [11]:
final_df = expanded_df.drop(cols_to_drop, axis=1)
final_df = final_df.fillna(0)
final_df

,formula_id,x,trace_len,num_mess,size_mess,nb_progressions,total_ops_list_1,total_ops_list_10,total_ops_list_100,total_ops_list_101,...,total_ops_list_91,total_ops_list_92,total_ops_list_93,total_ops_list_94,total_ops_list_95,total_ops_list_96,total_ops_list_97,total_ops_list_98,total_ops_list_99,strategy_id
0,0,1,2,3,1.00,3,11,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
1,1,1,2,3,1.00,3,11,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
2,2,1,2,3,1.00,3,11,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
3,3,1,2,3,1.00,3,11,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
4,4,1,2,3,1.00,4,13,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9118,3036,5,21,79,10.76,1153,10,13.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
9119,3037,5,18,51,7.88,1041,10,13.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
9120,3038,5,22,21,2.76,143,11,-1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
9121,3039,5,25,48,5.66,310,11,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
9122,3040,5,39,114,9.18,1442,12,10.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [12]:
TARGET = 'strategy_id'

In [13]:
y = final_df[TARGET].values
X = final_df.drop(TARGET, axis=1)
X = normalize(X)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [14]:
# K Neighbors Classifier
kn_classifier = KNeighborsClassifier(n_neighbors=3)
kn_classifier.fit(X_train, y_train)

kn_classifier.score(X_test, y_test)

y_pred = kn_classifier.predict(X_test)
kn_classifier.score(X_test, y_test)

0.9046401169163317