## Trace Encoding

In [3]:
import pandas as pd
from decmon.extractor import *

# noinspection PyUnresolvedReferences
from ipynb.fs.full.preparation import sdf, f_ops

In [4]:
TRACE_LENGTH = 1001
NODES = 3

In [5]:
map_trace = lambda x: flatten_once(extract_sampled_events(x['trace']))
trace_label = lambda n: [f"t_{x // NODES}_{x % NODES}" for x in range(n)]

t_events = sdf.copy()
t_events['newcolumn'] = t_events.apply(map_trace, axis=1)
ids = trace_label(TRACE_LENGTH * NODES)
listed_values = t_events['newcolumn'].to_list()
transformed_values = list(map(lambda ls: list(map(convert_event_to_int, ls)), listed_values))
t_events = pd.DataFrame(transformed_values, columns=ids)

t_events

,t_0_0,t_0_1,t_0_2,t_1_0,t_1_1,t_1_2,t_2_0,t_2_1,t_2_2,t_3_0,...,t_997_2,t_998_0,t_998_1,t_998_2,t_999_0,t_999_1,t_999_2,t_1000_0,t_1000_1,t_1000_2
0,1,0,3,1,0,3,1,0,0,0,...,3,1,0,0,1,0,3,0,2,3
1,0,0,3,0,2,0,0,2,3,1,...,0,1,2,0,0,0,3,0,0,0
2,1,2,3,1,0,3,0,2,0,1,...,3,0,2,0,1,0,0,1,0,3
3,0,0,3,1,0,0,0,2,3,0,...,3,1,2,3,1,2,0,0,2,3
4,1,2,0,1,0,3,1,2,0,0,...,3,1,2,3,0,2,0,0,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9118,0,0,0,0,2,3,0,0,0,0,...,0,0,0,0,0,2,0,1,2,0
9119,0,0,0,1,0,3,0,2,0,1,...,0,1,0,0,1,0,3,1,2,3
9120,1,0,3,0,2,3,0,2,3,0,...,0,0,2,3,1,0,0,1,0,3
9121,0,0,3,1,2,0,1,0,3,1,...,0,0,0,0,1,2,0,0,0,0
9122,1,0,3,0,0,3,1,0,0,0,...,3,0,0,0,1,2,3,0,2,0

In [8]:
encoded_df = f_ops.merge(t_events, left_index=True, right_index=True)
encoded_df

,total_ops_list_1,total_ops_list_10,total_ops_list_100,total_ops_list_101,total_ops_list_102,total_ops_list_103,total_ops_list_104,total_ops_list_105,total_ops_list_106,total_ops_list_107,...,t_997_2,t_998_0,t_998_1,t_998_2,t_999_0,t_999_1,t_999_2,t_1000_0,t_1000_1,t_1000_2
0,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,1,0,0,1,0,3,0,2,3
1,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1,2,0,0,0,3,0,0,0
2,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,0,2,0,1,0,0,1,0,3
3,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,1,2,3,1,2,0,0,2,3
4,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,1,2,3,0,2,0,0,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9118,10,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,2,0,1,2,0
9119,10,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1,0,0,1,0,3,1,2,3
9120,11,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,2,3,1,0,0,1,0,3
9121,11,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,1,2,0,0,0,0
9122,12,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,0,0,0,1,2,3,0,2,0